DATABASE_URL='postgresql://neondb_owner:npg_HveQFl1hRp9q@ep-frosty-glade-anq2ifjj-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
SERVE_UI=false
PORT=3100

ADMIN_PASSWORD=Astrea@2026!
AUTH_SECRET=7c4f8a9e2d1b5c3e8f0a2d4b6c9e1f3a5b7d9c2e4f6a8b0c3d5e7f9a1b3c5